<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Login - Culinary Assistent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body class="text-center">
    <form class="form-signin" action="/login" method="post">
        <img class="mb-4" src="/img/logo.png" alt="" width="200px" height="200px">

        <label for="inputUsu치rio" class="sr-only">Usu치rio</label>
        <input type="text" id="inputUsu치rio" class="form-control" name="usuario" placeholder="Usu치rio" required autofocus>

        <label for="inputSenha" class="sr-only">Senha</label>
        <input type="password" id="inputSenha" class="form-control" name="senha" placeholder="Senha" required>

        <button class="btn btn-lg btn-primary btn-block" type ="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>
</body>

</html>