<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Página de pesquisa</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-search" action="/receita" method="post">
        <img class="mb-4" src="/img/logo.png" alt="" width="200px" height="200px">
        <input class="form-control" id="inputSenha" type="text" name="ingredientes" placeholder="Ingredientes" required autofocus />
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Pesquisar" />
    </form>
</body>

</html>